

<div class="indicate-page">

    <app-update-incident [incident]="incident$ | async">
    </app-update-incident>

    <hr style="margin-bottom: 50px;">

    <app-timeline [incidentId]="incidentId$ | async">
    </app-timeline>
    
</div>
