<ng-container *ngIf="incidents$ | async as incidents; else loading">
    incidents list
<div *ngFor="let incident of incidents">
    <a [routerLink]="['/incident', incident._id]">
     #  {{incident._id}}
   </a>
</div>
</ng-container>

<ng-template #loading>
loading...
</ng-template>