<ng-container *ngIf="event.eventType == 'status'" [ngTemplateOutlet]="statusEvent"
[ngTemplateOutletContext]="{$implicit:event}">
</ng-container>

<ng-container *ngIf="event.eventType == 'priority'" [ngTemplateOutlet]="priorityEvent"
[ngTemplateOutletContext]="{$implicit:event}">
</ng-container>

<ng-container *ngIf="event.eventType == 'country'" [ngTemplateOutlet]="locationEvent"
[ngTemplateOutletContext]="{$implicit:event}">
</ng-container>

<ng-container *ngIf="event.eventType == 'manual'" [ngTemplateOutlet]="manualEvent"
[ngTemplateOutletContext]="{$implicit:event}">
</ng-container>


<ng-template class="single-event" #statusEvent let-event>
    <div class="single-event">
        <div class="title">
            Status changed
        </div>
        <div class="description">
            Incident status changed from
            <app-status class="value" [status]="event.oldVal">
            </app-status>
            to
            <app-status class="value" [status]="event.newVal">
            </app-status>
        </div>
        <div class="time">
            {{event.timestamp | date}}
        </div>
    </div>
</ng-template>


<ng-template #priorityEvent let-event>
    <div class="single-event">
        <div class="title">
            Priority changed
        </div>
        <div class="description">
            Incident priority changed from
            <app-priority class="value" [priority]="event.oldVal">
            </app-priority>
            to
            <app-priority class="value" [priority]="event.newVal">
            </app-priority>
        </div>
        <div class="time">
            {{event.timestamp | date}}
        </div>
    </div>
</ng-template>

<ng-template #locationEvent let-event>
    <div class="single-event">
        <div class="title">
            Location changed
        </div>
        <div class="description">
            Incident location changed from
            <app-country class="value" [country]="event.oldVal"></app-country>
            to
            <app-country class="value" [country]="event.newVal"></app-country>
        </div>
        <div class="time">
            {{event.timestamp | date: 'dd/MM/yyyy'}}
        </div>
    </div>
</ng-template>

<ng-template #manualEvent let-event>
    <div class="single-event">
        <div class="title">
           {{event.name}}
        </div>
        <div class="description">
           {{event.description}}
        </div>
        <div class="time">
            {{event.timestamp | date: 'dd/MM/yyyy'}}
        </div>
    </div>
</ng-template>