.single-event {
    .title {
        font-weight: 800;
    }

    .description {
        display: flex;
    }

    .time {
        color: gray;
        font-size:15px;
    }

    .value {
        margin-right:7px;
        margin-left:7px;
    }
}