<div class="title">
  Add Event
</div>

<form [formGroup]="manualEventForm" (ngSubmit)="addEvent()">

  <div>
    <div>
      Name <span class="required-asterisk"> * </span>
    </div>
    <input type="text" formControlName="name">
  </div>
  <div>
    <div>
      Description:
    </div>
    <textarea type="text" formControlName="description"></textarea>
  </div>

  <button type="submit" [disabled]="!manualEventForm.valid">Submit</button>
  <button (click)="cancel()">Cancel</button>
</form>