<div *ngIf="incidentEvents$ | async as events; else loading" class="timeline">

    <div class="page-title">
        Timeline
    </div>

    <ng-container *ngIf="events.length > 0; else noEvents">
        <div class="events-container">
            <div class="single-event-container" *ngFor="let event of events; trackBy:trackByEvent ">
                <app-single-event [event]="event"></app-single-event>
            </div>
        </div>

    </ng-container>
    <button [routerLink]="['/addManualEvent', incidentId]">
        Add manual event
    </button>
    <ng-template #noEvents>
        no Events
    </ng-template>
</div>

<ng-template #loading>
    loading events...
</ng-template>