.timeline {
  
}

.page-title {
    font-weight: 800;
    margin-bottom: 30px;
}

.events-container {
    border-left: 1px solid black;
    margin-left:3px;
    padding-left:10px;
    overflow-y: auto;
    max-height:  250px;
    direction: rtl;

}
.single-event-container {
    padding-top:15px;
    direction: ltr;
}

