<div class="update-incident" *ngIf="incident">

    <div class="prop-column">
        <div> priority </div>
        <app-select-items [items]="priorities" [selectedItem]="incident.priority"
            (itemSelected)="updateIncident('priority', $event)">
            <ng-template #optionTemplate let-item>
                <app-priority [priority]="item"></app-priority>
            </ng-template>
        </app-select-items>
    </div>


    <div class="prop-column">
        <div> country </div>
        <app-select-items [items]="countries" [selectedItem]="incident.country"
            (itemSelected)="updateIncident('country', $event)">
            <ng-template #optionTemplate let-item>
                <app-country [country]="item"></app-country> {{item}}
            </ng-template>
        </app-select-items>
    </div>

    <div class="prop-column">
        <div> status </div>
        <app-select-items [items]="statuses" [selectedItem]="incident.status"
            (itemSelected)="updateIncident('status', $event)">
            <ng-template #optionTemplate let-item>
                <app-status [status]="item"></app-status>
            </ng-template>
        </app-select-items>
    </div>
</div>