<ng-select
[ngModel]="selectedItem"
appearance="outline" [clearable]="false" (change)="onChange($event)" class="custome-select">
    <ng-option [value]="item" *ngFor="let item of items">
        <ng-container *ngIf="optionTemplate" 
        [ngTemplateOutlet]="optionTemplate"
        [ngTemplateOutletContext]="{$implicit:item}">
        </ng-container>
    </ng-option>
</ng-select>